@import "../../../global/styles";

.btn {
  padding: 10px 20px;
  color: $secondary-text-color;
  border: 1px solid $secondary-text-color;
  border-radius: 23px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: all 0.5s;
  width: fit-content;

  &:hover {
    background-color: #4da6e7;
    color: #fff;
  }
}
